@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display&display=swap&family=Roboto&display=swap");
/* button color = #44b386*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #fff;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
  color: #44b386;
  text-align: center;
  font-weight: 700;
}

#container {
  width: 85%;
  margin: auto;
  height: 100vh;
  display: flex;
  box-shadow: 0 0px 30px rgba(32, 32, 32, 0.2);
  flex-direction: column;
}
#container main {
  flex: 1;
}
main {
  display: flex;
  align-items: center;
}
.col6 {
  width: 60%;
}
main p {
  padding-right: 30px;
  line-height: 48px;
  font-size: 1.5rem;
  padding: 10px 30px;
  margin-bottom: 32px;
}
main img {
  width: 500px;
}
.header h1 {
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1;
  padding: 15px 0px;
}
.btn {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 40px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 12px 0px;
  padding: 12px 24px;
  color: #fff;
  border: 0;
  background-color: #44b386;
}
.btn:first-child {
  margin-left: 30px;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  cursor: pointer;
  background-color: #38946f;
  font-weight: bold;
}

footer {
  text-align: center;
}

.card {
  margin: 10px;
  box-shadow: 2px;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2);
}
label {
  display: block;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  display: block;
  width: 76%;
  padding: 5px 15px;
  font-size: 1rem;
  margin: 10px auto;
  border: 0;
  outline: 0;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid black;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: 0;
  border-bottom: 1px solid #38946f;
}
input[type="submit"] {
  margin: auto;
  width: 200px;
  margin: 15px auto;
  display: block;
}
